<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>



<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="#">Shhhttt...</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="http://latrmouh.org" class="pure-menu-link">My creator</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <!-- <h1 class="splash-head">Big Bold Text</h1>-->
    <form>
      <textarea class="splash-head" onfocus="clearMe(this)">
        Your secret message ...
      </textarea>
      <p>
        <a class="pure-button pure-button-primary" onClick="">Share</a>
      </p>
    </form>
  </div>
</div>

<div class="content-wrapper">
  <div class="footer l-box is-center">
    <a href="http://sailsjs.org">Sailsjs.org</a>  - <a href="http://purecss.io/">PureCSS</a> - Made with love by <a href="http://latrmouh.org">Laïla</a>
  </div>

</div>
