<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="message">Message</label>
      <input id="message" type="text" placeholder="message">
    </div>

    <div class="pure-controls">
      <button id="submit" type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
  </fieldset>
</form>
<script type="text/javascript">
  jQuery('#submit').on("click", function() {
    alert("swag");
  });
</script>
